{% extends "base.html" %}
{% load leaflet_tags %}
{% load geojson_tags %}

{% block extra_assets %}
  {% leaflet_js %}
  {% leaflet_css %}
{% endblock %}

{% block content %}

    <script type="text/javascript">
      // var collection = {{ q_set|geojsonfeature:"popupContent"|safe }};

      function onEachFeature(feature, layer) {
        if (feature.properties && feature.properties.enseigne) {
            layer.bindPopup(feature.properties.enseigne);
      }
  }



  function map_init(map, options) {
    // L.geoJson(collection, {onEachFeature: onEachFeature}).addTo(map);

    var dataurl = '{% url "map" %}';
    // Download GeoJSON via Ajax

    fetch(dataurl).then( resp => {
      return resp.json();
    }).then( data => {
        L.geoJson(data, {onEachFeature: onEachFeature}).addTo(map);
    });

      //GEOLOC STUFF
      function onLocationFound(e) {
        var radius = e.accuracy / 2;
        L.marker(e.latlng).addTo(map)
        // L.circle(e.latlng, radius).addTo(map);
      }

    map.on('locationfound', onLocationFound);
    map.locate({setView: true, watch: false, maxZoom: 16});
  }
    </script>

    {% leaflet_map "spots" callback="window.map_init" %}

{% endblock %}