{% extends "base.html" %}
{% load leaflet_tags %}
{% load geojson_tags %}

{% block extra_assets %}
  {% leaflet_js %}
  {% leaflet_css %}
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
{% endblock %}

{% block content %}

    <script type="text/javascript">
      // var collection = {{ q_set|geojsonfeature:"popupContent"|safe }};

      function onEachFeature(feature, layer) {
        if (feature.properties && feature.properties.popupContent) {
            layer.bindPopup(feature.properties.popupContent);
      }
  }



  function map_init(map, options) {
    // L.geoJson(collection, {onEachFeature: onEachFeature}).addTo(map);

    var dataurl = '{% url "map" %}';
    console.log(dataurl)
    // Download GeoJSON via Ajax
    $.getJSON(dataurl, function (data) {
        // Add GeoJSON layer

        L.geoJson(data).addTo(map);
    });

      function onLocationFound(e) {
        var radius = e.accuracy / 2;
        L.marker(e.latlng).addTo(map)
        // L.circle(e.latlng, radius).addTo(map);
      }

    map.on('locationfound', onLocationFound);
    map.locate({setView: true, watch: false, maxZoom: 16});
  }
    </script>

    {% leaflet_map "spots" callback="window.map_init" %}

{% endblock %}