#mapid {
    height: 100%;
    width: 100%
}

.my-label {
    position: absolute;
    font-size: 12px;
    background-color: var(--main-bg-color);
    font-family: var(--font-style);
    opacity: 0.5;
}