.leaflet-container {
    /* all maps */
    width: 600px;
    height: 400px;
}

#specialbigmap {
    height: 800px;
}


/* Resize the "display_raw" textbox */

.django-leaflet-raw-textarea {
    width: 100%;
}