{% extends "flantastic/base.html" %}
{% load static %} 

{% block extra_assets %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
{% endblock %}


{% block map_layer %}
<div id="mapid"></div>

<link rel="stylesheet" href="{% static "flantastic/css/mapstyle.css" %}">

<script>
    var dataurl = '{% url "map" %}';
</script>

<script type="text/javascript" src="{% static "flantastic/js/map_init.js" %}">
</script>

<script>
// Mandatory to write hard script in order to get use the django route system
window.set_closest_bakeries_json(dataurl, window.map);
</script>


{% endblock %}