{% extends "flantastic/base.html" %}
{% load leaflet_tags %}

{% block extra_assets %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock %}

{% load static %} 

{% block content %}

<link rel="stylesheet" href="{% static "flantastic/css/mapstyle.css" %}">

<script type="text/javascript" src="{% static "flantastic/js/map_init.js" %}">
</script>

<script>
    var dataurl = '{% url "map" %}';
</script>

{% leaflet_map "map" callback="window.map_init" %}

<script>
    // Insert closest bakeries
    window.insert_closest_bakeries_json(dataurl, map);

</script>

{% endblock %}